html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.youtube-to-mp3{
    width: 100%;
    height: 100vh;
    background-image: url('bg.png');
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.youtube-to-mp3 h1 {
    color: #efefef;
    font-size: 38px;
    margin-bottom: 50px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0,0,0, 1);
}

.youtube-to-mp3 h1 span {
    color: #CC3434;
    font-size: 52px;
}

.youtube-to-mp3 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.youtube-to-mp3 label {
    display: none;

}

.youtube-to-mp3 form input {
    width: 400px;
    border-radius: 5px;
    padding: 8px 15px;
    border: 2px solid #efefef;
    background-color: transparent;
    color: #efefef;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.youtube-to-mp3 form button {
    width: 200px;
    margin-top: 10px;
    background-color: #CC3434;
    padding: 8px 20px;
    color: #efefef;
    border: none;
    box-shadow:3px 3px 10px rgba(0,0,0, .8);
    font-size: 22px;
    cursor: pointer;
}